RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^api/(v[0-9])/jsonrpc$ /api/$1/jsonrpc.php [NC,L]
RewriteRule ^.*$ index.php [NC,L]

php_flag magic_quotes_gpc Off
php_value upload_max_filesize 2000M
php_value max_execution_time 3600
php_value max_input_time 3600
php_value memory_limit 8000M
php_value post_max_size 2000M

Options FollowSymLinks